<header>
  <nav class="navbar navbar-expand bg-light text-dark">
    <div class="flex-grow-1">
      <a aria-label="Home" class="logo" routerLink="/">
    <span class="reddit-text">
          Electrical Vehicle Route Finder
        </span>
      </a>
    </div>
    <ul class="navbar-nav ml-auto">
      <li>
        <a href="/sign-up" class="nav-link" [routerLink]="['/sign-up']">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </nav>
</header>
