header{
  border-radius: 1px solid;
}

.navbar{
 background-color: #070707;
}

.reddit-text{
  font-weight: 700;
  height: 50px;
  width: 50px;
  color: #560744;
}
.logo{
  text-decoration: none;
}

.login, .signup{
  background-color: transparent;
  border-color: #560744;
  color: #560744;
  fill: #560744;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}
.signup{
  background-color: #560744;
  border-color: #560744;
  color: #560744;
}

.sign-up{
  color: #560744;
  font-weight: bold;
  text-decoration: underline;
}

.signup:hover{
  opacity: 0.6;
}
