
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuq7z1fSuVu56IXnqL9_XjjSr7RzWT1ec&v=beta&map_ids=1cf5e19dcdbae4f2"></script>
<div><button [routerLink]="''">Home</button></div>

<div id="floating-panel" >
  <form [formGroup]="vehicleFormGroup" (change)="selectVehicle()">
  <b>Start: </b>
  <input id="start" type="text" value="Nantes">
  <b> End: </b>
  <input id="end" type="text" value="Lyon">
  <b> Vehicle: </b>
  <select id="vehicle" value="Choose a vehicle" formControlName="vehicle">
    <option value ="" disabled> Choose a vehicle </option>
    <option value ="" disabled> Your vehicles </option>
    <option *ngFor="let userVehicle of userVehicles" [ngValue]="userVehicle"> {{userVehicle.brand + ' ' + userVehicle.model + ' '+ ' range: ' + userVehicle.range + ' km.'}} </option>
    <option value ="" disabled> Default vehicles </option>
    <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle"> {{vehicle.brand + ' ' + vehicle.model + ' '+ ' range: ' + vehicle.range + ' km.'}} </option>
    <!--option [value]="user.id" [routerLink]="['/add-new-car', user.id]"> Add Your Own Car </option-->
  </select>
    <!--a [routerLink]="['/add-new-car', user.id]"> Add your own vehicle </a-->
    <input id="submit" type="button" value="GO" />
  </form>
</div>
<div #map id ='map'></div>
<div id="warnings-panel"></div>
