<html>
<head>
  <title>Welcome to EV Trip Route Finder</title>
</head>
<body>
<div class="app-root">
  <p>
    Welcome to the Electrical Vehicle Trip Route Calculator.
    <br>
    <br>
    You can use this app to find a route for your electrical vehicles that takes into account its battery capacity, energy consumption
    <br>
    and, if necessary, automatically add  stopovers to your route to recharge your vehicle and reach destination.
  </p>
  <button [routerLink]="'map/1'">Launch App</button>
</div>
</body>
</html>
