.app-home {
  padding: 10px;
}

.app-root{
  background-color: #1F1E1E;
  color: white;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}
